<md-toolbar class="md-toolbar-overwrite">
    <h3>Settings</h3>
</md-toolbar>
<md-content class="md-padding">
    <hr/>
    <h4 class="link"><a href="#/settings/about">About</a></h4>
    <hr/>
    <h4 class="link"><a href="#/settings/profile">Profile</a></h4>
    <hr/>
    <h4 class="link"><a href="#/settings/disclaimer">Disclaimer</a></h4>
    <hr/>
    <h4 class="link"><a href="#/settings/admin">Admin</a></h4>
    <hr/>
    <h4 class="link"><a href="auth/logout">Logout</a></h4>
    <hr/>
</md-content>
