﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:188px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:24px;
  top:243px;
  width:272px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u17 {
  position:absolute;
  left:24px;
  top:210px;
  width:124px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:24px;
  top:302px;
  width:272px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u20 {
  position:absolute;
  left:24px;
  top:269px;
  width:46px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:24px;
  top:360px;
  width:272px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u23 {
  position:absolute;
  left:24px;
  top:327px;
  width:22px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:24px;
  top:386px;
  width:49px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:109px;
  top:386px;
  width:187px;
  height:19px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:109px;
  top:329px;
  width:187px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:109px;
  top:269px;
  width:187px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:210px;
  top:210px;
  width:86px;
  height:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:70px;
  top:144px;
  width:179px;
  height:18px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#90A4AE;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:205px;
  top:429px;
  width:91px;
  height:30px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:120px;
  top:68px;
  width:78px;
  height:76px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u40 {
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:104px;
  top:7px;
  width:36px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
