@import "bootstrap/bootstrap.scss";

/*bg-colors*/
$bgreen:green;


/*font-colors*/
$cwhite:white;
$cgrey:grey;
$cgreen:green;
$cgreenLight: #3fb621;
$cgreenDarker: #194a0d;

$semi:900;



/* Header is located at headermenu.blade.php*/
#header{
  width:100%;
  padding:0;

  .header-wrapper {
    background-color:$bgreen;
    width:100%;
    margin:0;
    padding:10px 0 10px 0;

    ul {
      list-style: none;

      li {
//        padding:0px 10px 0px 10px;
//        display:inline-block;
        color:$cwhite;
        text-align: center;
      }
    }
  }
}

/*content-container is located on every page where the content needs to be separated from the header (margin required)*/
.content-container{
  margin-top:40px;
  width:100%;



  /*for page: dashboard*/
  .dashboard-button{
    background-color:$bgreen;
    color:$cwhite;
    margin-bottom:30px;
    text-align:center;
    padding:40px;
  }

  /*for page:share_one*/
  .steps_title {
    text-align: center;
    color:$cgrey;
  }

  .steps_subtitle{
    color:$cgrey;
    margin-top:15px;
  }

  .txt-input{
    height:40px;
    margin-top:20px;

    .fa-map-marker{
      color:$cgreen;
    }
  }

  .button-next{
    background-color:$cgreen;
    color:$cwhite;
    font-weight:$semi;
    padding:10px 20px;
    width:100px;
  }


  /*for page:share_four*/
  .share-success{
    color:$cgrey;
    margin-top:70px;
    font-size:48px;
    text-align:center;
  }

  .btn-return-home{
    background-color:$cgreen;
    color:$cwhite;
    padding:10px 0 10px 0;
    margin-top:10px;
  }


  /* few overwrides for bootstrap.scss*/
  .row{
    margin-right:0;
    margin-left:0;
  }
}

.md-toolbar-overwrite{
  background-color: white;
}

md-toolbar{
  background-color: none;
}

md-toolbar>h1,
md-toolbar>h3{
  color: $cgreen;
  text-align: center;
}


#header>i,
.header-wrapper ul li a{
  color: #ffffff;
}

.header-wrapper ul li a:hover{
  color: $cgreenLight;
}

.link a{
  color: $cgreen;
}

.link a:hover{
  color: $cgreenLight;
  text-decoration: none;
}

