﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:109px;
  top:6px;
  width:22px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:188px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:24px;
  top:80px;
  width:109px;
  height:18px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:24px;
  top:106px;
  width:272px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u21 {
  position:absolute;
  left:24px;
  top:126px;
  width:272px;
  height:28px;
  font-size:14px;
  color:#8E8E92;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:28px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:268px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:121px;
  top:135px;
  width:12px;
  height:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:24px;
  top:168px;
  width:126px;
  height:26px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:24px;
  top:206px;
  width:272px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u28 {
  position:absolute;
  left:24px;
  top:230px;
  width:39px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:28px;
  top:338px;
  width:14px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:233px;
  top:336px;
  width:63px;
  height:24px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:26px;
  top:264px;
  width:17px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:24px;
  top:300px;
  width:21px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:28px;
  top:376px;
  width:14px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:68px;
  top:262px;
  width:228px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:24px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:76px;
  top:262px;
  width:57px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u43 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:68px;
  top:298px;
  width:228px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:24px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:76px;
  top:298px;
  width:30px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u47 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:68px;
  top:336px;
  width:165px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:74px;
  top:336px;
  width:55px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u51 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:68px;
  top:374px;
  width:165px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:74px;
  top:374px;
  width:95px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
}
#u55 {
  position:absolute;
  left:0px;
  top:4px;
  width:95px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:233px;
  top:374px;
  width:63px;
  height:24px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:233px;
  top:411px;
  width:63px;
  height:24px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:170px;
  top:168px;
  width:126px;
  height:26px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
