﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:54px;
  top:168px;
  width:212px;
  height:212px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:212px;
}
#u3 {
  position:absolute;
  left:2px;
  top:98px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
