﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:185px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:24px;
  top:148px;
  width:56px;
  height:56px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:96px;
  top:148px;
  width:56px;
  height:56px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:168px;
  top:148px;
  width:56px;
  height:56px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:240px;
  top:148px;
  width:56px;
  height:56px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:24px;
  top:220px;
  width:56px;
  height:56px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u25 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:96px;
  top:220px;
  width:56px;
  height:56px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u27 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:168px;
  top:220px;
  width:56px;
  height:56px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u29 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:240px;
  top:220px;
  width:56px;
  height:56px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u31 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:24px;
  top:292px;
  width:56px;
  height:56px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:96px;
  top:292px;
  width:56px;
  height:56px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u35 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:168px;
  top:292px;
  width:56px;
  height:56px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u37 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:240px;
  top:292px;
  width:56px;
  height:56px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u39 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:24px;
  top:364px;
  width:56px;
  height:56px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:96px;
  top:364px;
  width:56px;
  height:56px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:168px;
  top:364px;
  width:56px;
  height:56px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u45 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:240px;
  top:364px;
  width:56px;
  height:56px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u47 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:44px;
  width:160px;
  height:44px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u49 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:160px;
  top:44px;
  width:160px;
  height:44px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u51 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:235px;
  top:7px;
  width:10px;
  height:160px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:143px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:160px;
}
#u53 {
  position:absolute;
  left:104px;
  top:7px;
  width:36px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:24px;
  top:148px;
  width:56px;
  height:56px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u56 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:96px;
  top:148px;
  width:56px;
  height:56px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u58 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:168px;
  top:148px;
  width:56px;
  height:56px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u60 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:240px;
  top:148px;
  width:56px;
  height:56px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u62 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:24px;
  top:220px;
  width:56px;
  height:56px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u64 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:96px;
  top:220px;
  width:56px;
  height:56px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u66 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:168px;
  top:220px;
  width:56px;
  height:56px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u68 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:240px;
  top:220px;
  width:56px;
  height:56px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u70 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:24px;
  top:292px;
  width:56px;
  height:56px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u72 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:96px;
  top:292px;
  width:56px;
  height:56px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u74 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:168px;
  top:292px;
  width:56px;
  height:56px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u76 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:240px;
  top:292px;
  width:56px;
  height:56px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u78 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:24px;
  top:364px;
  width:56px;
  height:56px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u80 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:96px;
  top:364px;
  width:56px;
  height:56px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u82 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:168px;
  top:364px;
  width:56px;
  height:56px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u84 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:240px;
  top:364px;
  width:56px;
  height:56px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u86 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
