﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:44px;
  width:160px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:44px;
  width:160px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:235px;
  top:7px;
  width:10px;
  height:160px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:143px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:160px;
}
#u7 {
  position:absolute;
  left:24px;
  top:120px;
  width:272px;
  height:90px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:90px;
}
#u8 {
  position:absolute;
  left:2px;
  top:37px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:62px;
  top:129px;
  width:63px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:158px;
  top:129px;
  width:57px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:34px;
  top:158px;
  width:18px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:36px;
  top:128px;
  width:12px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:132px;
  top:128px;
  width:21px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:62px;
  top:160px;
  width:90px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:240px;
  top:120px;
  width:10px;
  height:90px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:73px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:90px;
}
#u22 {
  position:absolute;
  left:275px;
  top:132px;
  width:12px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:260px;
  top:133px;
  width:10px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:246px;
  top:160px;
  width:50px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u27 {
  position:absolute;
  left:32px;
  top:185px;
  width:21px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:63px;
  top:187px;
  width:50px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:262px;
  top:178px;
  width:18px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:188px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:104px;
  top:7px;
  width:36px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
