﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:770px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:770px;
}
#u1 {
  position:absolute;
  left:2px;
  top:377px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:650px;
  top:318px;
  width:35px;
  height:57px;
  color:#FFFFFF;
}
#u2_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:71px;
}
#u2_seg1 {
  position:absolute;
  left:-10px;
  top:47px;
  width:49px;
  height:20px;
}
#u3 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:650px;
  top:355px;
  width:85px;
  height:160px;
  color:#FFFFFF;
}
#u4_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:174px;
}
#u4_seg1 {
  position:absolute;
  left:-10px;
  top:150px;
  width:99px;
  height:20px;
}
#u5 {
  position:absolute;
  left:-50px;
  top:114px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:650px;
  top:355px;
  width:85px;
  height:230px;
  color:#FFFFFF;
}
#u6_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:244px;
}
#u6_seg1 {
  position:absolute;
  left:-10px;
  top:220px;
  width:99px;
  height:20px;
}
#u7 {
  position:absolute;
  left:-50px;
  top:150px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:650px;
  top:354px;
  width:85px;
  height:300px;
  color:#FFFFFF;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:314px;
}
#u8_seg1 {
  position:absolute;
  left:-10px;
  top:290px;
  width:99px;
  height:20px;
}
#u9 {
  position:absolute;
  left:-50px;
  top:184px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:650px;
  top:359px;
  width:85px;
  height:90px;
  color:#FFFFFF;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u10_seg1 {
  position:absolute;
  left:-10px;
  top:80px;
  width:99px;
  height:20px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:26px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12_ref {
  position:absolute;
  left:292px;
  top:76px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:200px;
  top:100px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14_ref {
  position:absolute;
  left:292px;
  top:150px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:25px;
  top:181px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u16_ref {
  position:absolute;
  left:117px;
  top:231px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:370px;
  top:182px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u18_ref {
  position:absolute;
  left:462px;
  top:232px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:80px;
  top:265px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u20_ref {
  position:absolute;
  left:172px;
  top:315px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:25px;
  top:345px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u22_ref {
  position:absolute;
  left:117px;
  top:395px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:25px;
  top:425px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24_ref {
  position:absolute;
  left:117px;
  top:475px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:25px;
  top:505px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u26_ref {
  position:absolute;
  left:117px;
  top:555px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:25px;
  top:585px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u28_ref {
  position:absolute;
  left:117px;
  top:635px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:25px;
  top:665px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30_ref {
  position:absolute;
  left:117px;
  top:715px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:135px;
  top:345px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u32_ref {
  position:absolute;
  left:227px;
  top:395px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:135px;
  top:425px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34_ref {
  position:absolute;
  left:227px;
  top:475px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:135px;
  top:505px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36_ref {
  position:absolute;
  left:227px;
  top:555px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:135px;
  top:585px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u38_ref {
  position:absolute;
  left:227px;
  top:635px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:310px;
  top:265px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u40_ref {
  position:absolute;
  left:402px;
  top:315px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:255px;
  top:345px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u42_ref {
  position:absolute;
  left:347px;
  top:395px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:255px;
  top:425px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u44_ref {
  position:absolute;
  left:347px;
  top:475px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:255px;
  top:505px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u46_ref {
  position:absolute;
  left:347px;
  top:555px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:365px;
  top:345px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48_ref {
  position:absolute;
  left:457px;
  top:395px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:365px;
  top:425px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u50_ref {
  position:absolute;
  left:457px;
  top:475px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:365px;
  top:505px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u52_ref {
  position:absolute;
  left:457px;
  top:555px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:480px;
  top:265px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u54_ref {
  position:absolute;
  left:572px;
  top:315px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:600px;
  top:265px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u57 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u56_ref {
  position:absolute;
  left:692px;
  top:315px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:685px;
  top:345px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u59 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u58_ref {
  position:absolute;
  left:777px;
  top:395px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:685px;
  top:415px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u61 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60_ref {
  position:absolute;
  left:777px;
  top:465px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:685px;
  top:485px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u63 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62_ref {
  position:absolute;
  left:777px;
  top:535px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:685px;
  top:555px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u64_ref {
  position:absolute;
  left:777px;
  top:605px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:685px;
  top:625px;
  width:100px;
  height:60px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u67 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66_ref {
  position:absolute;
  left:777px;
  top:675px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:250px;
  top:86px;
  width:0px;
  height:14px;
  color:#FFFFFF;
}
#u68_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:28px;
}
#u69 {
  position:absolute;
  left:-50px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:250px;
  top:160px;
  width:-175px;
  height:21px;
  color:#FFFFFF;
}
#u70_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:25px;
}
#u70_seg1 {
  position:absolute;
  left:-185px;
  top:1px;
  width:195px;
  height:20px;
}
#u70_seg2 {
  position:absolute;
  left:-185px;
  top:1px;
  width:20px;
  height:24px;
}
#u71 {
  position:absolute;
  left:-137px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:250px;
  top:160px;
  width:170px;
  height:22px;
  color:#FFFFFF;
}
#u72_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:26px;
}
#u72_seg1 {
  position:absolute;
  left:-10px;
  top:2px;
  width:190px;
  height:20px;
}
#u72_seg2 {
  position:absolute;
  left:160px;
  top:2px;
  width:20px;
  height:24px;
}
#u73 {
  position:absolute;
  left:34px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:420px;
  top:242px;
  width:-290px;
  height:23px;
  color:#FFFFFF;
}
#u74_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:27px;
}
#u74_seg1 {
  position:absolute;
  left:-300px;
  top:3px;
  width:310px;
  height:20px;
}
#u74_seg2 {
  position:absolute;
  left:-300px;
  top:3px;
  width:20px;
  height:24px;
}
#u75 {
  position:absolute;
  left:-194px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:130px;
  top:325px;
  width:-55px;
  height:20px;
  color:#FFFFFF;
}
#u76_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u76_seg1 {
  position:absolute;
  left:-65px;
  top:0px;
  width:75px;
  height:20px;
}
#u76_seg2 {
  position:absolute;
  left:-65px;
  top:0px;
  width:20px;
  height:24px;
}
#u77 {
  position:absolute;
  left:-78px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:75px;
  top:405px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u78_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u79 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:75px;
  top:485px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u80_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u81 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:75px;
  top:565px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u82_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u83 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:75px;
  top:645px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u84_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u85 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:130px;
  top:325px;
  width:55px;
  height:20px;
  color:#FFFFFF;
}
#u86_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u86_seg1 {
  position:absolute;
  left:-10px;
  top:0px;
  width:75px;
  height:20px;
}
#u86_seg2 {
  position:absolute;
  left:45px;
  top:0px;
  width:20px;
  height:24px;
}
#u87 {
  position:absolute;
  left:-22px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:185px;
  top:405px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u88_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u89 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:185px;
  top:485px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u90_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u91 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:185px;
  top:565px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u92_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u93 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:420px;
  top:242px;
  width:-60px;
  height:23px;
  color:#FFFFFF;
}
#u94_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:27px;
}
#u94_seg1 {
  position:absolute;
  left:-70px;
  top:3px;
  width:80px;
  height:20px;
}
#u94_seg2 {
  position:absolute;
  left:-70px;
  top:3px;
  width:20px;
  height:24px;
}
#u95 {
  position:absolute;
  left:-78px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:360px;
  top:325px;
  width:-55px;
  height:20px;
  color:#FFFFFF;
}
#u96_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u96_seg1 {
  position:absolute;
  left:-65px;
  top:0px;
  width:75px;
  height:20px;
}
#u96_seg2 {
  position:absolute;
  left:-65px;
  top:0px;
  width:20px;
  height:24px;
}
#u97 {
  position:absolute;
  left:-78px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:305px;
  top:405px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u98_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u99 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:305px;
  top:485px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u100_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u101 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:360px;
  top:325px;
  width:55px;
  height:20px;
  color:#FFFFFF;
}
#u102_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u102_seg1 {
  position:absolute;
  left:-10px;
  top:0px;
  width:75px;
  height:20px;
}
#u102_seg2 {
  position:absolute;
  left:45px;
  top:0px;
  width:20px;
  height:24px;
}
#u103 {
  position:absolute;
  left:-22px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:415px;
  top:405px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u104_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u105 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:415px;
  top:485px;
  width:0px;
  height:20px;
  color:#FFFFFF;
}
#u106_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u107 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:420px;
  top:242px;
  width:110px;
  height:23px;
  color:#FFFFFF;
}
#u108_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:27px;
}
#u108_seg1 {
  position:absolute;
  left:-10px;
  top:3px;
  width:130px;
  height:20px;
}
#u108_seg2 {
  position:absolute;
  left:100px;
  top:3px;
  width:20px;
  height:24px;
}
#u109 {
  position:absolute;
  left:4px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:420px;
  top:242px;
  width:230px;
  height:23px;
  color:#FFFFFF;
}
#u110_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:27px;
}
#u110_seg1 {
  position:absolute;
  left:-10px;
  top:3px;
  width:250px;
  height:20px;
}
#u110_seg2 {
  position:absolute;
  left:220px;
  top:3px;
  width:20px;
  height:24px;
}
#u111 {
  position:absolute;
  left:64px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
