﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:24px;
  top:314px;
  width:16px;
  height:17px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AED581;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:46px;
  top:313px;
  width:86px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:194px;
  top:313px;
  width:102px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:24px;
  top:365px;
  width:272px;
  height:35px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:39px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:418px;
  width:320px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:24px;
  top:455px;
  width:272px;
  height:35px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:39px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:24px;
  top:228px;
  width:272px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:132px;
  top:228px;
  width:57px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:24px;
  top:270px;
  width:272px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:132px;
  top:270px;
  width:55px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:54px;
  top:6px;
  width:212px;
  height:212px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:212px;
}
#u23 {
  position:absolute;
  left:2px;
  top:98px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
