﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:24px;
  top:480px;
  width:272px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:44px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:188px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:21px;
  top:134px;
  width:276px;
  height:57px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:57px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:21px;
  top:76px;
  width:276px;
  height:57px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:57px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:21px;
  top:192px;
  width:276px;
  height:57px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:57px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:21px;
  top:192px;
  width:276px;
  height:57px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:57px;
}
#u25 {
  position:absolute;
  left:2px;
  top:20px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:21px;
  top:250px;
  width:276px;
  height:57px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:57px;
}
#u27 {
  position:absolute;
  left:2px;
  top:20px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:24px;
  top:126px;
  width:272px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u29 {
  position:absolute;
  left:24px;
  top:95px;
  width:49px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:288px;
  top:92px;
  width:8px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#78909C;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:24px;
  top:181px;
  width:272px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u34 {
  position:absolute;
  left:24px;
  top:150px;
  width:38px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:288px;
  top:147px;
  width:8px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#78909C;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:24px;
  top:244px;
  width:272px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u39 {
  position:absolute;
  left:24px;
  top:213px;
  width:35px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:288px;
  top:210px;
  width:8px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#78909C;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:24px;
  top:302px;
  width:272px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u44 {
  position:absolute;
  left:24px;
  top:271px;
  width:62px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:288px;
  top:268px;
  width:8px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#78909C;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:24px;
  top:311px;
  width:276px;
  height:57px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:57px;
}
#u49 {
  position:absolute;
  left:2px;
  top:20px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:27px;
  top:332px;
  width:38px;
  height:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:291px;
  top:329px;
  width:8px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#78909C;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:104px;
  top:7px;
  width:36px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
