﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:188px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:109px;
  top:6px;
  width:22px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:24px;
  top:217px;
  width:272px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u19 {
  position:absolute;
  left:24px;
  top:186px;
  width:127px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:24px;
  top:276px;
  width:272px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u22 {
  position:absolute;
  left:24px;
  top:245px;
  width:49px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:24px;
  top:334px;
  width:272px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u25 {
  position:absolute;
  left:24px;
  top:303px;
  width:24px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:24px;
  top:394px;
  width:272px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u28 {
  position:absolute;
  left:24px;
  top:362px;
  width:51px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:109px;
  top:360px;
  width:187px;
  height:19px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:109px;
  top:303px;
  width:187px;
  height:19px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:109px;
  top:243px;
  width:187px;
  height:19px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:210px;
  top:184px;
  width:86px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:128px;
  top:71px;
  width:63px;
  height:63px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u39 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:70px;
  top:144px;
  width:179px;
  height:18px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#90A4AE;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
