﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:24px;
  top:138px;
  width:130px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:166px;
  top:138px;
  width:130px;
  height:130px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u5 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:166px;
  top:280px;
  width:130px;
  height:130px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u7 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:280px;
  width:130px;
  height:130px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u9 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:64px;
  top:178px;
  width:49px;
  height:49px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:66px;
  top:320px;
  width:46px;
  height:49px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:49px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:210px;
  top:320px;
  width:42px;
  height:49px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:49px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:215px;
  top:178px;
  width:32px;
  height:49px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
