﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:65px;
  width:100px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:165px;
  width:320px;
  height:22px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:24px;
  top:314px;
  width:16px;
  height:17px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:46px;
  top:313px;
  width:86px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:194px;
  top:313px;
  width:102px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:24px;
  top:355px;
  width:272px;
  height:35px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:39px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:414px;
  width:320px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:24px;
  top:455px;
  width:272px;
  height:35px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:39px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:24px;
  top:225px;
  width:272px;
  height:35px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:24px;
  top:230px;
  width:17px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:60px;
  top:228px;
  width:236px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:69px;
  top:228px;
  width:57px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:24px;
  top:270px;
  width:272px;
  height:35px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:25px;
  top:278px;
  width:14px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:232px;
  top:276px;
  width:64px;
  height:24px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:276px;
  width:173px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:24px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:66px;
  top:276px;
  width:55px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  white-space:nowrap;
}
