﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:252px;
  width:125px;
  height:35px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:24px;
  top:70px;
  width:272px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  color:#B0BEC5;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:188px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:109px;
  top:6px;
  width:22px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:280px;
  top:144px;
  width:16px;
  height:18px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:34px;
  top:144px;
  width:12px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:280px;
  top:193px;
  width:16px;
  height:18px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:34px;
  top:192px;
  width:12px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:24px;
  top:112px;
  width:128px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:56px;
  top:142px;
  width:199px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:65px;
  top:142px;
  width:26px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:4px;
  width:26px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:56px;
  top:190px;
  width:199px;
  height:24px;
  opacity:0.6;
  color:#78909C;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:65px;
  top:190px;
  width:22px;
  height:24px;
  opacity:0.6;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  white-space:nowrap;
}
