<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Own Rides">
            <md-content class="md-padding">

            </md-content>
        </md-tab>
        <md-tab label="Other Rides">
            <md-content class="md-padding">

            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
