﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:300px;
  width:160px;
  height:35px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:39px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:66px;
  top:160px;
  width:189px;
  height:117px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:117px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:44px;
  width:160px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:44px;
  width:160px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:235px;
  top:7px;
  width:10px;
  height:160px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:143px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:160px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:188px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:104px;
  top:7px;
  width:36px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
