<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab flex="50" label="Trophies">
            <md-content class="md-padding">

            </md-content>
        </md-tab>
        <md-tab flex="50" label="Leaderboard">
            <md-content class="md-padding">

            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
