﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:44px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:6px;
  width:33px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:268px;
  top:6px;
  width:28px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:185px;
  top:6px;
  width:31px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:109px;
  top:6px;
  width:22px;
  height:32px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:107px;
  top:72px;
  width:107px;
  height:38px;
  font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight:100;
  font-style:normal;
  color:#78909C;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:24px;
  top:113px;
  width:272px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u21 {
  position:absolute;
  left:24px;
  top:133px;
  width:56px;
  height:56px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u22 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:96px;
  top:133px;
  width:56px;
  height:56px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:168px;
  top:133px;
  width:56px;
  height:56px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:240px;
  top:133px;
  width:56px;
  height:56px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:24px;
  top:205px;
  width:56px;
  height:56px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:96px;
  top:205px;
  width:56px;
  height:56px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u32 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:168px;
  top:205px;
  width:56px;
  height:56px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u34 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:240px;
  top:205px;
  width:56px;
  height:56px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u36 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:24px;
  top:277px;
  width:56px;
  height:56px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:96px;
  top:277px;
  width:56px;
  height:56px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:168px;
  top:277px;
  width:56px;
  height:56px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u42 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:240px;
  top:277px;
  width:56px;
  height:56px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:24px;
  top:349px;
  width:56px;
  height:56px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:96px;
  top:349px;
  width:56px;
  height:56px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u48 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:168px;
  top:349px;
  width:56px;
  height:56px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u50 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:240px;
  top:349px;
  width:56px;
  height:56px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u52 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
